@use "sass:math";

$floating_list_len: 6;
$orbit_radius: min(50vh, 25vw);
$orbit_diameter: min(100vh, 50vw);

.about {
    display: flex;
    align-items: center;
    gap: 1rem;

    margin: 0 150px;

    height: 100vh;

    .description {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, min-content);

        place-items: end;
        text-align: end;

        width: 50vw;

        flex-grow: 1;

        z-index: 1;

        h1.title {
            font-family: "Koulen", sans-serif;
            font-size: 1.6rem;
        }

        h2.subtitle {
            font-family: "Koulen", sans-serif;
            font-size: 1rem;
        }

        p.text {
            font-family: "Rokkitt", serif;
            font-size: 1rem;
            // width: 48rem;
            line-height: 90%;

            padding: 4.3rem 0;
        }

        button.submit {
            font-family: "Koulen", sans-serif;
            font-size: 2.6rem;

            padding: 2.5rem 3.12rem;
            border-radius: 6rem;
            line-height: 2.5rem;

            color: white;
            background-color: #32D926;
        }
    }

    .orbit-container {
        width: 50vw;
        display: flex;
        justify-content: center;
        position: relative;

        flex-grow: 1;

        .orbit {
            width: $orbit_diameter;
            position: absolute;
            
            transform: translateY(-50%);

            aspect-ratio: 1/1;

            img {
                position: absolute;
                top: 0;
                left: 0;

                transform: translate(-50%, -50%);

            }

            .user {
                position: relative;

                width: 10rem;
                aspect-ratio: 1/1;
                object-fit: cover;

                left: 50%;
                top: 50%;

                border-radius: 50%;
            }

            .tech {
                position: absolute;

                width: 5rem;
            }

            .tech {
                @for $index from $floating_list_len to 0 {
                    $previous_childs: 1;

                    $padding: 0.5;
                    $angle: math.div(360, $floating_list_len) * $index;
                    $radius: $orbit_radius;
                    $x_per_radius: calc(math.sin(math.$pi * 2 * math.div($angle, 360)) * (1 - $padding));
                    $y_per_radius: calc(math.cos(math.$pi * 2 * math.div($angle, 360)) * (1 - $padding));

                    &:nth-child(#{$index+$previous_childs}) {
                        top: calc($radius - $y_per_radius * $radius);
                        left: calc($radius - $x_per_radius * $radius);
                    }
                }
            }
        }
    }
}

@media (max-width: 2000px) {
    
}
