.design-accent {
    position: absolute;

    &.triangle-group-1 {
        left: 10vw;
        z-index: -1;
    }

}

.parallax-container {
    position: absolute;
    overflow-x: hidden;
    overflow-y: visible;

    width: 100%;

    .great-blob {
        height: 84rem;
        transform: translateX(calc(((100vw - 150px * 2)*0.75 + 150px) - 84rem*0.24));
    }

    .triangle-group-2 {
        position: relative;
        height: calc((286/16)*2rem);
        left: 75vw;
    }
}

.work-accent {
    position: absolute;

    font-size: 30vh;
    font-family: 'Koulen', serif;
    line-height: 100%;
    color: hsl(230, 100%, 15%);

    width: fit-content;

    transform-origin: 0% 100%;
    transform: rotateZ(90deg) translateY(15%);
}

.large-doodle {
    height: 100vh;
    transform: translate(-50%, -50%);

    top: 50%;
    left: 50%;
}