.contacts {
    --contacts-unit: 1.6rem;

    position: relative;
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    justify-content: center;
    align-items: center;
    gap: calc(var(--contacts-unit) * 1);

    height: 570px;
    width: 832px;

    margin: calc(50svh - 285px) calc(50svw - 416px);
    padding: 50px;

    background: #F0F8FF;
    box-shadow: 16px 24px 39px rgba(141, 204, 248, 0.34);
    border-radius: 50px;

    font-family: 'Koulen', sans-serif;
    color: #003A62;

    .cta {
        position: relative;
        display: flex;
        flex-direction: column;

        &::after {
            content: "";
        }

        .title {
            font-style: normal;
            font-weight: 400;
            font-size: var(--contacts-unit);
        }

        .contact-form {
            display: flex;
            flex-direction: column;

            font-size: calc(var(--contacts-unit) * 0.6);

            input, textarea {
                border: none;

                padding: calc(var(--contacts-unit) * 0.6) calc(var(--contacts-unit) * 1.6);

                font-size: calc(var(--contacts-unit) * 0.6);

                background: #FFFFFF;
                box-shadow: inset 10px 10px 20px rgba(89, 73, 99, 0.3);
                border-radius: 15px;
                resize: none;
            }

            #message {
                height: calc(var(--contacts-unit) * 4);
            }

            button {
                margin: 2rem;
                align-self: center;
                padding: 1rem 4.3rem;

                font-size: calc(var(--contacts-unit) * 0.6);

                color: #ffffff;
                background: #0B6105;
                box-shadow: 10px 10px 20px rgba(89, 73, 99, 0.3);
                border-radius: 7rem;
            }

            button:active {
                background: red;
            }
        }
    }

    .line {
        align-self: stretch;
        width: 1px;

        background: linear-gradient(transparent, hsl(230, 80, 15), transparent);

        top: 0;
    }

    .secondary_cta {
        display: flex;
        flex-direction: column;
        gap: calc(var(--contacts-unit) * 0.6);

        .title {
            font-size: calc(var(--contacts-unit) * 0.6);
        }

        .social-medias {
            display: flex;
            justify-content: space-between;
        }
    }
}