.experiences {
    position: relative;
    display: flex;
    flex-direction: column;

    gap: 15rem;

    .title {
        --font-size: min(7rem, calc(100vw - 200px));
        font-family: 'Koulen', sans-serif;
        font-weight: 400;
        font-size: var(--font-size);
        line-height: 325px;
        margin: 0 200px;

        color: #003A62;
        text-shadow: calc(var(--font-size) * 0.02) calc(var(--font-size) * 0.02) 0px #5B96EE, calc(var(--font-size) * 0.05) calc(var(--font-size) * 0.05) 0px #FFFFFF;

        z-index: 1;
    }

    .experience {
        --experience-height: 12rem;
        position: relative;
        display: flex;

        height: var(--experience-height);

        &::before {
            content: "";

            position: absolute;

            height: calc(var(--experience-height) * 1.8);
            width: calc(var(--experience-height) * 1.8);

            top: 0;

            place-content: flex-end;

            background: linear-gradient(136.09deg, #F9BB8C 0.09%, #8CCAF9 40.54%);
            transform: translate(0, -40%) rotate(32.67deg);

            -webkit-mask-image: url(/assets/graphic_design/large_mask.svg);
            mask-image: url(/assets/graphic_design/large_mask.svg);
            -webkit-mask-size: 100%;
            mask-size: 100%;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;

            z-index: -1;

            margin: 0 calc(var(--experience-height) * -0.3);
        }

        &::after {
            content: "";

            height: var(--experience-height);
            width: calc(var(--experience-height) * 0.1);

            background-color: hsl(230, 100%, 75%);
        }

        &:nth-child(2n+1) {
            flex-direction: row-reverse;

            text-align: right;

            .text::before {
                left: 20vw;
            }
        }

        .thumb {
            aspect-ratio: 4/3;
            height: calc(var(--experience-height) * 1.5);

            transform: translate(0, calc(var(--experience-height) * -0.5));

            -webkit-mask-image: url(/assets/graphic_design/mask_asset.svg);
            mask-image: url(/assets/graphic_design/mask_asset.svg);
            -webkit-mask-size: 100%;
            mask-size: 100%;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
        }

        .text {
            position: relative;
            display: flex;
            padding: calc(var(--experience-height) * 0.1);

            flex-direction: column;

            gap: 1rem;

            font-family: 'Rokkitt', serif;
            color: hsl(230, 100%, 85%);

            width: 45vw;

            &::before {
                content: "";
                position: absolute;

                width: 100vw;
                height: 100%;

                right: 20vw;
                top: 0;
                z-index: -1;

                background: hsl(230, 100%, 15%);
                box-shadow: 16px 24px 0px hsla(230, 100%, 10%, 0.40);
            }

            .experience-date {
                font-size: clamp(0.6rem, 1rem, 1.6rem);
                line-height: 100%;
            }
            .experience-title {
                font-size: clamp(1rem, 1.6rem, 2.6rem);
                font-weight: 900;
                line-height: 100%;
            }
            .description {
                font-size: clamp(0.6rem, 1rem, 1.6rem);
                line-height: 100%;
            }

        }
    }
}