@use 'sass:math';

$pixel_art_forest_folder: "/assets/pixel_art_forest";
$pixe_art_aspect_ratio: math.div(928, 793);
$cover_size: 135vh;

.intro {
    height: 100vh;
    width: 100vw;

    .header {
        position: absolute;

        display: flex;
        align-items: center;
        gap: 3rem;

        width: 100%;

        padding: 4rem 150px;

        ul:nth-child(1) {
            margin-right: auto;
        }

        ul {
            font-size: 1.63rem;
            font-family: "Koulen", sans-serif;
        }

        .logo_header {
            height: 4rem;
        }
    }

    .hero {
        display: flex;

        font-family: "Koulen", sans-serif;
        font-size: 20vh;
        line-height: 88.6%;

        .glasspanel {
            flex-grow: 3;

            padding-right: 1rem;
            height: 100vh;

            box-sizing: border-box;

            background: url(/assets/graphic_design/static.png), linear-gradient(159.14deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
            background-blend-mode: overlay, normal;
            border-right: 1px solid #FFFFFF;

            .invertedtitle {
                padding-top: 26.4vh;

                color: #151826;

                text-align: end;
            }
        }

        .normal-title {
            flex-grow: 7;

            padding-top: 26.4vh;
            padding-left: 1.5rem;

            color: #dadff8;
        }
    }

    .forest {
        background-image: url(/assets/pixel_art_forest/Background.png);
        background-position-y: bottom;
        background-repeat: repeat no-repeat;
        background-size: auto $cover_size;
        background-attachment: fixed;
    }

    .shoutout{
        
        position: absolute;
        z-index: 3;

        bottom: 50px;
        right: 50px;

        color: #dadff8;

        line-height: 175%;
        font-family: "Koulen", sans-serif;
        font-size: 1rem;
    }
}