/*
Orbit by Phelyppe Matheus
Free stuff, but I'd like a shoutout nonetheless
Have a nice day
*/

@use "sass:math";

$orbit_size: 25rem;

$center_size: 10rem;
$float_item_size: 5rem;

$duration_orbit: 15s;

$floating_list_len: 6;

.orbit-section {
    background: var(--violet-to-blue);

    height: #{math.sqrt(math.pow(math.div($orbit_size, 1rem), 2)*2)+10}rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    gap: 4rem;

    position: relative;
    padding: 4rem;

    .about {
        padding: 3rem;
        border-radius: 2rem;
        max-width: 2*$orbit_size;
        display: flex;
        flex-direction: column;
        justify-content: center;

        text-align: center;

        .title {
            color: var(--on-violet-to-blue);
            font-family: 'Cinzel', serif;
            font-weight: 400;
            font-size: 2.6em;
        }

        .subtitle {
            margin-top: -0.5rem;

            color: var(--on-violet-to-blue);
            font-family: 'Cinzel', serif;
            font-size: 1.6em;
            font-weight: 700;
        }

        .text {
            margin-top: 1rem;

            font-family: 'Fauna One';
            font-size: 1em;
            color: var(--on-violet-to-blue);

            a {
                color: blue;
                background-color: var(--on-violet-to-blue);
                font-weight: bold;

                padding: 0rem 0.6rem 0.2rem;
                margin: 0 0.3rem;

                border-radius: 1rem;
                text-decoration: none;
            }

            a:visited {
                color: blueviolet;
            }

            a:active {
                background: var(--blue-light);
            }
        }
    }


    .orbit {
        position: relative;

        height: $orbit_size;
        width: $orbit_size;

        border-radius: 50%;

        .image-center {
            position: absolute;
            width: 100%;
            height: 100%;

            display: grid;
            align-items: center;
            justify-items: center;

            .user {
                position: absolute;
                height: $center_size;
                aspect-ratio: 1/1;
                object-fit: cover;
                transition: filter 400ms linear;

                border-radius: 50%;
            }

            .user:nth-child(2):hover {
                filter: opacity(0);
            }
        }

        .floating-list {
            list-style: none;
            .floating-item {
                position: absolute;
                height: $float_item_size;
                aspect-ratio: 1/1;

                display: grid;
                justify-items: center;
                align-items: center;

                transition: all 400ms ease-in-out;

                img {
                    padding: math.div($float_item_size, 10);
                    width: $float_item_size;
                    transition: all 400ms ease-in-out;
                }

                .description {
                    position: relative;
                    filter: opacity(0);

                    text-align: center;

                    font-family: 'Cinzel', serif;
                    font-size: 0.4em;
                    font-weight: 700;

                    color: black;
                }

                @for $index from $floating_list_len to 0 {
                    $angle: math.div(360, $floating_list_len) * $index;
                    $radius: math.div($orbit_size, 2);
                    $x: $radius * math.sin(math.$pi * 2 * math.div($angle, 360));
                    $y: $radius * math.cos(math.$pi * 2 * math.div($angle, 360));
    
                    &:nth-child(#{$index}) {
                        top: $radius - $y;
                        left: $radius - $x;

                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }


}

.orbit-section {
    $scale: 3;
    .orbit {
        &:hover {
            animation-play-state: paused;

            .image-center {
                .user {
                    animation-play-state: paused;
                }
            }

            .floating-list {
                .floating-item {
                    &>* {
                        animation-play-state: paused;
                    }

                    &:hover, &:focus {
                        border-radius: 50%;

                        transform: translate(-50%, -50%) scale($scale);

                        box-shadow:
                            0px 0px 2px #fff inset,
                            0px 0px 5px #fff inset,
                            0px 0px 20px #fff inset,
                            0px 0px 50px #fff inset,
                            0px 0px 2px #fff,
                            0px 0px 5px #fff,
                            0px 0px 15px #fff,
                            0px 0px 30px #fff,
                            0px 0px 100px #fff
                        ;

                        .item {
                            filter: opacity(0);
                            position: absolute;
                        }

                        .description {
                            transform: scale(math.div(0.1, $scale));
                            filter: opacity(1);
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

.orbit-section {

    .orbit {
        animation: orbit $duration_orbit linear infinite;

        .image-center {
            .user {
                animation: anti_orbit $duration_orbit linear infinite;
            }
        }

        .floating-list {
            .floating-item {
                &>* {
                    animation: anti_orbit $duration_orbit linear infinite;
                }
            }
        }
    }

}

@keyframes anti_orbit {
    from {
        transform: rotateZ(360deg);
    }
    to {
        transform: rotateZ(0deg);
    }
}

@keyframes orbit {
    to {
        transform: rotateZ(360deg);
    }
}

@media screen and (max-width: #{$orbit_size*1.5}) {
    $small_padding: 2rem;
    .orbit-section {
        padding: $small_padding;
        justify-content: flex-start;

        .orbit {
            margin-left: math.div($orbit_size - $center_size, -2) - $small_padding;
            place-self: start;

            .image-center {
                .user {
                    border-radius: 0 50% 50% 0;
                }
            }
        }
    }
}

@media screen and (min-width: 1400px) {
    .orbit-section {
        .about {
            border-radius: 4rem 0 0 4rem;

            text-align: right;
        }
    }
}