/*
Orbit by Phelyppe Matheus
Free stuff, but I'd like a shoutout nonetheless
Have a nice day
*/

$orbit_size: 25rem;

$center_size: 10rem;
$float_item_size: 5rem;

$duration_orbit: 10s;

$floating_list_len: 6;

.orbit-animation {
    background: linear-gradient(45deg, blueviolet, blue);
    overflow: hidden;
    display: grid;
    place-items: center;
    height: min(100vh, 60rem);

    .orbit {
        height: $orbit_size;
        aspect-ratio: 1/1;

        .image-center {
            transform: translate(calc($orbit_size/2 - $center_size/2),
                    calc($orbit_size/2 - $center_size/2));

            .user {
                position: absolute;
                height: $center_size;
                aspect-ratio: 1 / 1;
                object-fit: cover;
                border-radius: 50%;
            }

            .user:nth-child(2) {
                filter: opacity(1);
                transition: filter 500ms ease-in;
            }

            .user:nth-child(2):hover {
                filter: opacity(0);
            }
        }

        .floating-list {
            .floating-item {
                background-color: aliceblue;
                position: absolute;
                padding: $float_item_size*0.3;
                width: $float_item_size;
                display: grid;
                place-items: center;
                aspect-ratio: 1 / 1;
                border-radius: 50%;
                transition:
                    transform 100ms,
                    box-shadow 400ms;

                @for $count from 1 to $floating_list_len+1 {
                    &:nth-child(#{$count}) {
                        $entry_delay: $count*$duration_orbit/$floating_list_len;
                        $color: --#{nth(green blue orange purple yellow brown red pink white, $count)

                    }

                    ;

                    animation: orbit-horizontal $duration_orbit ease-in-out $entry_delay infinite,
                    orbit-vertical $duration_orbit ease-in-out $entry_delay+$duration_orbit/4 infinite;

                    &:hover {
                        background-color: var(#{$color}-dark);
                        color: var(#{$color}-light);

                        box-shadow: inset 4px 4px 4px var(#{$color}-light),
                        inset -4px -4px 4px #00000077,
                        4px 4px 15px #00000077;
                    }
                }
            }

            .description {
                display: none;
                font-size: $float_item_size*0.1;
                font-family: 'Fauna One', serif;
                font-weight: bold;
                text-align: center;
            }

            &:hover {
                background-color: aqua;
                padding: $float_item_size*0.1;
                transform: scale(1.5);

                .item {
                    display: none;
                }

                .description {
                    display: block;
                }
            }
        }

        &:hover {
            .floating-item {
                animation-play-state: paused;
            }
        }
    }
}
}

@keyframes orbit-horizontal {
    50% {
        margin-left: $orbit_size - $float_item_size;
    }
}


@keyframes orbit-vertical {
    50% {
        margin-top: $orbit_size - $float_item_size;
    }
}