@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Rokkitt:wght@100;400;700&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding and reset fonts */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

::-webkit-scrollbar {
  display: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  overflow-x: hidden;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

button {
  border: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
}
body {
  background-color: hsl(230deg, 84%, 22%);
}

.scroller {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  width: 100vw;
  scroll-snap-type: y mandatory;
}

.scroller section {
  scroll-snap-align: center;
}

.intro {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(hsla(0deg, 0%, 0%, 0.3) 0%, hsla(0deg, 0%, 0%, 0) 30%), conic-gradient(hsl(230deg, 100%, 80%) 0deg, hsl(230deg, 100%, 80%) 45deg, hsla(230deg, 100%, 76%, 0) 45deg, hsla(230deg, 100%, 12%, 0) 315deg, hsl(230deg, 100%, 10%) 315deg, hsl(230deg, 100%, 10%) 360deg), linear-gradient(45deg, transparent 49%, black 49%, black 51%, transparent 51%), linear-gradient(135deg, transparent 49%, black 49%, black 51%, transparent 51%), conic-gradient(hsl(230deg, 100%, 90%) 0deg, hsl(230deg, 100%, 90%) 45deg, hsl(230deg, 100%, 76%) 45deg, hsl(230deg, 100%, 76%) 190deg, hsl(230deg, 100%, 12%) 315deg, hsl(230deg, 100%, 10%) 315deg, hsl(230deg, 100%, 10%) 360deg);
  background-blend-mode: overlay, normal, overlay, overlay, normal;
  background-size: auto, auto, 100px 100px, 100px 100px, auto;
  background-position: 50% 50%;
  background-attachment: fixed;
}
.intro::after {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  background: linear-gradient(0deg, hsl(230deg, 84%, 22%), hsla(230deg, 0%, 0%, 0) 5%), linear-gradient(10deg, hsl(230deg, 84%, 22%), hsla(230deg, 0%, 0%, 0) 10%), linear-gradient(-10deg, hsl(230deg, 84%, 22%), hsla(230deg, 0%, 0%, 0) 10%);
}
.intro .header {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 3rem;
  width: 100%;
  padding: 2rem 4rem;
  z-index: 1;
}
.intro .header ul:nth-child(1) {
  margin-right: auto;
}
.intro .header ul {
  font-size: 1.22rem;
  font-family: "Koulen", sans-serif;
  color: #dadff8;
}
.intro .header .logo_header {
  height: 2rem;
}
.intro .hero {
  display: flex;
  font-family: "Koulen", sans-serif;
  font-size: min(20vh, 15vw);
  line-height: min(20vh, 15vw);
}
.intro .hero .glasspanel {
  flex-grow: 3;
  padding-right: 1rem;
  height: 100vh;
  box-sizing: border-box;
  background: url(/assets/graphic_design/static.png), linear-gradient(159.14deg, #dadff8 0%, rgba(255, 255, 255, 0) 100%);
  background-blend-mode: overlay, normal;
  border-right: 1px solid #dadff8;
}
.intro .hero .glasspanel .invertedtitle {
  margin: 26.4vh 0 calc(73.6vh - min(20vh, 15vw));
  color: hsla(49deg, 55%, 66%, 0.5);
  background-image: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  background-position-y: bottom;
  background-repeat: repeat no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: rgba(255, 255, 172, 0.3333333333) 1px;
  text-align: end;
}
.intro .hero .normal-title {
  flex-grow: 7;
  padding-top: 26.4vh;
  padding-left: 1.5rem;
  color: hsl(230deg, 68%, 90%);
}
.intro .forest {
  background-position-y: bottom;
  background-repeat: repeat no-repeat;
  background-size: auto 130vh;
  background-attachment: fixed;
}
.intro .shoutout {
  position: absolute;
  z-index: 3;
  bottom: 50px;
  right: 50px;
  color: #dadff8;
  line-height: 175%;
  font-family: "Koulen", sans-serif;
  font-size: 0.75rem;
}

.design-accent {
  position: absolute;
}
.design-accent.triangle-group-1 {
  left: 10vw;
  z-index: -1;
}

.parallax-container {
  position: absolute;
  overflow-x: hidden;
  overflow-y: visible;
  width: 100%;
}
.parallax-container .great-blob {
  height: 84rem;
  transform: translateX(calc((100vw - 300px) * 0.75 + 150px - 20.16rem));
}
.parallax-container .triangle-group-2 {
  position: relative;
  height: 35.75rem;
  left: 75vw;
}

.work-accent {
  position: absolute;
  font-size: 30vh;
  font-family: "Koulen", serif;
  line-height: 100%;
  color: hsl(230deg, 100%, 15%);
  width: fit-content;
  transform-origin: 0% 100%;
  transform: rotateZ(90deg) translateY(15%);
}

.large-doodle {
  height: 100vh;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.about {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0 150px;
  height: 100vh;
}
.about .description {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, min-content);
  place-items: end;
  text-align: end;
  width: 50vw;
  flex-grow: 1;
  z-index: 1;
  color: hsl(230deg, 84%, 95%);
}
.about .description::after {
  content: "";
  position: absolute;
  display: block;
  height: 20%;
  width: 1px;
  right: -50px;
  top: 90%;
  opacity: 0;
  transition: top 600ms ease, opacity 600ms ease;
  transition-duration: 600ms;
  background-image: linear-gradient(transparent, hsl(0deg, 0%, 100%), transparent);
}
.about .description:hover::after {
  top: 10%;
  opacity: 1;
}
.about .description h1.title {
  font-family: "Koulen", sans-serif;
  font-size: 1.6rem;
  color: hsl(230deg, 84%, 100%);
}
.about .description h2.subtitle {
  font-family: "Koulen", sans-serif;
  font-size: 1rem;
  color: hsl(230deg, 84%, 100%);
}
.about .description p.text {
  font-family: "Rokkitt", serif;
  font-size: 1rem;
  line-height: 90%;
  padding: 4.3rem 0;
}
.about .description button.submit {
  font-family: "Koulen", sans-serif;
  font-size: 2.6rem;
  padding: 2.5rem 3.12rem;
  border-radius: 6rem;
  line-height: 2.5rem;
  color: white;
  background-color: hsl(230deg, 70%, 10%);
}
.about .orbit-container {
  width: 50vw;
  display: flex;
  justify-content: center;
  position: relative;
  flex-grow: 1;
}
.about .orbit-container .orbit {
  width: min(100vh, 50vw);
  position: absolute;
  transform: translateY(-50%);
  aspect-ratio: 1/1;
}
.about .orbit-container .orbit img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}
.about .orbit-container .orbit .user {
  position: relative;
  width: 10rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  left: 50%;
  top: 50%;
  border-radius: 50%;
}
.about .orbit-container .orbit .tech {
  position: absolute;
  width: 5rem;
}
.about .orbit-container .orbit .tech:nth-child(7) {
  top: calc(min(50vh, 25vw) - 0.5 * min(50vh, 25vw));
  left: calc(min(50vh, 25vw) - 0 * min(50vh, 25vw));
}
.about .orbit-container .orbit .tech:nth-child(6) {
  top: calc(min(50vh, 25vw) - 0.25 * min(50vh, 25vw));
  left: calc(min(50vh, 25vw) - -0.4330127019 * min(50vh, 25vw));
}
.about .orbit-container .orbit .tech:nth-child(5) {
  top: calc(min(50vh, 25vw) - -0.25 * min(50vh, 25vw));
  left: calc(min(50vh, 25vw) - -0.4330127019 * min(50vh, 25vw));
}
.about .orbit-container .orbit .tech:nth-child(4) {
  top: calc(min(50vh, 25vw) - -0.5 * min(50vh, 25vw));
  left: calc(min(50vh, 25vw) - 0 * min(50vh, 25vw));
}
.about .orbit-container .orbit .tech:nth-child(3) {
  top: calc(min(50vh, 25vw) - -0.25 * min(50vh, 25vw));
  left: calc(min(50vh, 25vw) - 0.4330127019 * min(50vh, 25vw));
}
.about .orbit-container .orbit .tech:nth-child(2) {
  top: calc(min(50vh, 25vw) - 0.25 * min(50vh, 25vw));
  left: calc(min(50vh, 25vw) - 0.4330127019 * min(50vh, 25vw));
}

.work {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 10rem);
  place-items: center;
  place-content: center;
  gap: 1rem;
  color: hsl(205deg, 100%, 85%);
}
.work::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 80%;
  left: 10rem;
  top: 5rem;
  background: radial-gradient(100.26% 154.72% at 100% 100%, hsla(230deg, 0%, 0%, 0.5) 0%, hsla(230deg, 0%, 0%, 0) 100%), hsl(230deg, 100%, 14%);
  box-shadow: 0px 4px 0px hsl(230deg, 100%, 20%);
  border-radius: 100px;
  filter: opacity(90%);
  box-shadow: 0.7rem 0.7rem 0 0 hsl(230deg, 100%, 10%) inset;
}
.work .works-title {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(10%, 0%);
  font-family: "Koulen", serif;
  font-size: 10rem;
  line-height: 100%;
  z-index: 1;
}
.work .work-card {
  position: relative;
  aspect-ratio: 1/1;
  width: 10rem;
  padding: 1rem;
  display: grid;
  border: 1px solid hsl(230deg, 100%, 25%);
  border-radius: 15px;
  z-index: 1;
  background: url(/assets/graphic_design/static.png), linear-gradient(-45deg, hsla(205deg, 100%, 15%, 0.8) 0%, hsla(205deg, 100%, 15%, 0.16) 100%);
  background-blend-mode: overlay, normal;
  box-shadow: 0.4rem 0.4rem 0 0 hsl(230deg, 100%, 10%);
}
.work .work-card .title {
  margin: auto 0;
  text-align: center;
  color: hsl(205deg, 100%, 90%);
  font-family: "Koulen", sans-serif;
  font-size: 1.6rem;
}
.work .work-card .description {
  display: none;
}

.experiences {
  --font-size: min(7rem, calc(100vw - 200px));
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 300px);
  margin: 100px 0;
}
.experiences .title {
  font-family: "Koulen", sans-serif;
  font-weight: 400;
  font-size: var(--font-size);
  margin: 0 200px;
  color: #003A62;
  text-shadow: calc(var(--font-size) * 0.02) calc(var(--font-size) * 0.02) 0px #5B96EE, calc(var(--font-size) * 0.05) calc(var(--font-size) * 0.05) 0px #FFFFFF;
  z-index: 1;
}
.experiences .experience {
  --experience-height: 12rem;
  position: relative;
  display: flex;
  height: var(--experience-height);
}
.experiences .experience::before {
  content: "";
  position: absolute;
  height: calc(var(--experience-height) * 1.8);
  width: calc(var(--experience-height) * 1.8);
  top: 0;
  place-content: flex-end;
  background: linear-gradient(136.09deg, #F9BB8C 0.09%, #8CCAF9 40.54%);
  transform: translate(0, -40%) rotate(32.67deg);
  -webkit-mask-image: url(/assets/graphic_design/large_mask.svg);
  mask-image: url(/assets/graphic_design/large_mask.svg);
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  z-index: -1;
  margin: 0 calc(var(--experience-height) * -0.3);
}
.experiences .experience::after {
  content: "";
  height: var(--experience-height);
  width: calc(var(--experience-height) * 0.1);
  background-color: hsl(230deg, 100%, 75%);
}
.experiences .experience:nth-child(2n+1) {
  flex-direction: row-reverse;
  text-align: right;
}
.experiences .experience:nth-child(2n+1) .text::before {
  left: 20vw;
}
.experiences .experience .thumb {
  aspect-ratio: 4/3;
  height: calc(var(--experience-height) * 1.5);
  transform: translate(0, calc(var(--experience-height) * -0.5));
  -webkit-mask-image: url(/assets/graphic_design/mask_asset.svg);
  mask-image: url(/assets/graphic_design/mask_asset.svg);
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
.experiences .experience .text {
  position: relative;
  display: flex;
  padding: calc(var(--experience-height) * 0.1);
  flex-direction: column;
  gap: 1rem;
  font-family: "Rokkitt", serif;
  color: hsl(230deg, 100%, 85%);
  width: 45vw;
}
.experiences .experience .text::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100%;
  right: 20vw;
  top: 0;
  z-index: -1;
  background: hsl(230deg, 100%, 15%);
  box-shadow: 16px 24px 0px hsla(230deg, 100%, 10%, 0.4);
}
.experiences .experience .text .experience-date {
  font-size: 1rem;
  line-height: 100%;
}
.experiences .experience .text .experience-title {
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 100%;
}
.experiences .experience .text .description {
  font-size: 1rem;
  line-height: 100%;
}

.contacts {
  --contacts-unit: 1.6rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  justify-content: center;
  align-items: center;
  gap: calc(var(--contacts-unit) * 1);
  height: 570px;
  width: 832px;
  margin: calc(50svh - 285px) calc(50svw - 416px);
  padding: 50px;
  background: #F0F8FF;
  box-shadow: 16px 24px 39px rgba(141, 204, 248, 0.34);
  border-radius: 50px;
  font-family: "Koulen", sans-serif;
  color: #003A62;
}
.contacts .cta {
  position: relative;
  display: flex;
  flex-direction: column;
}
.contacts .cta::after {
  content: "";
}
.contacts .cta .title {
  font-style: normal;
  font-weight: 400;
  font-size: var(--contacts-unit);
}
.contacts .cta .contact-form {
  display: flex;
  flex-direction: column;
  font-size: calc(var(--contacts-unit) * 0.6);
}
.contacts .cta .contact-form input, .contacts .cta .contact-form textarea {
  border: none;
  padding: calc(var(--contacts-unit) * 0.6) calc(var(--contacts-unit) * 1.6);
  font-size: calc(var(--contacts-unit) * 0.6);
  background: #FFFFFF;
  box-shadow: inset 10px 10px 20px rgba(89, 73, 99, 0.3);
  border-radius: 15px;
  resize: none;
}
.contacts .cta .contact-form #message {
  height: calc(var(--contacts-unit) * 4);
}
.contacts .cta .contact-form button {
  margin: 2rem;
  align-self: center;
  padding: 1rem 4.3rem;
  font-size: calc(var(--contacts-unit) * 0.6);
  color: #ffffff;
  background: #0B6105;
  box-shadow: 10px 10px 20px rgba(89, 73, 99, 0.3);
  border-radius: 7rem;
}
.contacts .cta .contact-form button:active {
  background: red;
}
.contacts .line {
  align-self: stretch;
  width: 1px;
  background: linear-gradient(transparent, hsl(230deg, 80%, 15%), transparent);
  top: 0;
}
.contacts .secondary_cta {
  display: flex;
  flex-direction: column;
  gap: calc(var(--contacts-unit) * 0.6);
}
.contacts .secondary_cta .title {
  font-size: calc(var(--contacts-unit) * 0.6);
}
.contacts .secondary_cta .social-medias {
  display: flex;
  justify-content: space-between;
}
